<app-menu></app-menu>

<body>
  <p class="header">Equipamentos</p>
  <p-card>
    <div class="header-table">
      <button
        pButton
        pRipple
        icon="pi pi-refresh"
        (click)="refreshData()"
        label="Atualizar"
      ></button>
      <button
        pButton
        pRipple
        icon="pi pi-plus"
        label="Adicionar Equipamento"
        class="p-button-success"
        (click)="openAddDialog()"
      ></button>
    </div>
    <p-table
      [value]="dados"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
      [tableStyle]="{ 'min-width': '50rem' }"
      [globalFilterFields]="['id', 'number', 'ownership', 'qrCode']"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
          <th pSortableColumn="number">
            Nome do Equipamento <p-sortIcon field="number" />
          </th>
          <th pSortableColumn="ownership">
            Origem <p-sortIcon field="ownership" />
          </th>
          <th pSortableColumn="qrCode">
            QR Code <p-sortIcon field="qrCode" />
          </th>
          <th>Opções</th>
        </tr>
        <tr>
          <th>
            <input pInputText type="text" (input)="applyFilter($event, 'id')" placeholder="Filtrar por ID" />
          </th>
          <th>
            <input pInputText type="text" (input)="applyFilter($event, 'number')" placeholder="Filtrar por Nome" />
          </th>
          <th>
            <input pInputText type="text" (input)="applyFilter($event, 'ownership')" placeholder="Filtrar por Origem" />
          </th>
          <th>
            <input pInputText type="text" (input)="applyFilter($event, 'qrCode')" placeholder="Filtrar por QR Code" />
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.number }}</td>
          <td>{{ item.ownership }}</td>
          <td>{{ item.qrCode }}</td>
          <td>
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-rounded p-button-info p-button-sm"
              title="Editar Equipamento"
              (click)="openEditDialog(item)"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-button-sm"
              title="Deletar Equipamento"
              (click)="confirm2($event, item)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <p-dialog
    header="{{ dialogTitle }}"
    [(visible)]="displayDialog"
    [modal]="true"
    [closable]="false"
    [style]="{ width: '30rem' }"
  >
    <form [formGroup]="equipamentoForm" (ngSubmit)="onSubmit()">
      <div class="formulario">
        <label for="number" class="font-semibold w-6rem"
          >Nome do Equipamento:
        </label>
        <input
          pInputText
          id="number"
          class="flex-auto"
          formControlName="number"
          autocomplete="off"
        />
        <div
          *ngIf="
            equipamentoForm.controls['number'].invalid &&
            (equipamentoForm.controls['number'].dirty ||
              equipamentoForm.controls['number'].touched)
          "
        >
          <small class="p-error">Nome do Equipamento é obrigatório.</small>
        </div>
      </div>
      <div class="formulario">
        <label for="ownership" class="font-semibold w-6rem">Origem: </label>
        <input
          pInputText
          id="ownership"
          class="flex-auto"
          formControlName="ownership"
          autocomplete="off"
        />
        <div
          *ngIf="
            equipamentoForm.controls['ownership'].invalid &&
            (equipamentoForm.controls['ownership'].dirty ||
              equipamentoForm.controls['ownership'].touched)
          "
        >
          <small class="p-error">Origem é obrigatória.</small>
        </div>
      </div>
      <div class="formulario">
        <label for="qrCode" class="font-semibold w-6rem">QR Code: </label>
        <input
          pInputText
          id="qrCode"
          class="flex-auto"
          formControlName="qrCode"
          autocomplete="off"
        />
        <div
          *ngIf="
            equipamentoForm.controls['qrCode'].invalid &&
            (equipamentoForm.controls['qrCode'].dirty ||
              equipamentoForm.controls['qrCode'].touched)
          "
        >
          <small class="p-error">QR Code é obrigatório.</small>
        </div>
      </div>
      <div class="buttons">
        <p-button
          label="Cancelar"
          severity="danger"
          (click)="displayDialog = false"
        ></p-button>
        <p-button
          class="button-salvar"
          label="Salvar"
          type="submit"
          [disabled]="equipamentoForm.invalid"
        ></p-button>
      </div>
    </form>
  </p-dialog>
</body>

<div class="card flex justify-content-center gap-2">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
</div>