.p-card {
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    background: red !important;
}

body {
    height: 100%;
    min-width: 600px;
    padding: 1rem;
    margin-top: 2.75rem;
}

.headerRelatorio {
    text-align: center;
}

.header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.header-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.p-button-rounded {
    margin-right: 0.5rem;
}

.p-button-sm .pi {
    font-size: 0.875rem;
}

.p-button-sm {
    padding: 0.25rem 0.5rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.date-range {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.btn-container {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

